---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Mis Libros">
  <section class="proyectos">
    <h2>Mi Biblioteca</h2>
    <div class="proyectos-grid">
      <a href="/libros/mi-primer-libro" class="proyecto">
        <div class="proyecto-texto">
          <h3>Título del Libro</h3>
          <p>Una breve descripción...</p>
        </div>
      </a>
      </div>
  </section>
</Layout>