---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/navbar.astro";
import Footer from "../../components/footer.astro";
---

<Layout title="Contact" bgClass="bg-special">
  <Navbar />
  <div class="container">
    <br /><br />
    <br /><br />
    
    <main class="hero">
      <h3>
        Hi! I would love to connect with people who have ideas, projects, or simply want to chat about technology, design, and impact. <br><br>
        If you want to share your initiatives or discuss how to bring them to life, write to me through the form or directly at my email: 
        nahun.saldana.macedo@gmail.com <br><br>
        It will be a pleasure to hear from you!
      </h3>

      <style>
        .form-wrapper {
          max-width: 500px;      /* controla el ancho */
          margin: 0 auto;        /* lo centra */
          padding: 1rem;
        }

        form {
          display: grid;
          gap: 1rem;
        }
      </style>

      <div class="form-wrapper">
        <form
          action="https://formspree.io/f/xjknaqpv"
          method="POST"
        >
          <input type="hidden" name="_next" value="https://nahunsaldana.com/en/" />

          <label style="display: flex; flex-direction: column; gap: 0.5rem;">
            Your email:
            <input type="email" name="email" placeholder="email@example.com" required>
          </label>
          
          <label style="display: flex; flex-direction: column; gap: 0.5rem;">
            Your message:
            <textarea style="display: flex; flex-direction: column; gap: 0.5rem;" name="message" rows="4" placeholder="How can I help you?"></textarea>
          </label>

          <button class="btn btn-primary" type="submit">Send</button>
        </form>
      </div>
    </main>
    <Footer />  
  </div>
</Layout>