---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
---
<Layout title="Inicio" bgClass="bg-special">
  <div class="container">
    <Navbar />
    <main class="hero">
      <h3>
        
Llevo más de una década diseñando, emprendiendo y acompañando proyectos en contextos complejos: desde startups y gobiernos hasta laboratorios de innovación y organizaciones internacionales. <br></br>
Mi enfoque combina diseño, tecnología y experimentación para crear soluciones que no solo funcionan en el mercado, sino que también contribuyen a ecosistemas más saludables.<br></br>


Ayudo a organizaciones a crear escenarios más sostenibles y regenerativos con la ayuda del diseño y la tecnología. 

Uso la experimentación y sus evidencias para transformar la tecnología en servicios y productos que promuevan buenos hábitos para ecosistemas más sostenibles. <br>Administro las métricas de la solución de principio a fin.<br></br> Capacidad demostrada para administrar Gerentes de Producto y equipos de desarrollo Agile y reportar a ejecutivos de nivel C y Junta Directiva.<br></br>He colaborado como consultor para diferentes organismos internacionales, gobiernos, laboratorios de innovación y startups. Desarrollando proyectos de innovación en temas de cambio climático, economías en desarrollo, salud digital y educación.   He provocado varios emprendimientos e intra emprendimientos en el mundo corporativo.<br></br> He cofundado la primera agencia con propósito Copiloto en Perú, el laboratorio de Diseño Especulativo Detona y la primera academia NOCODE en Latinoamérica Kreante Academy, entre otros emprendimientos en el mundo del arte sonoro, educación y tecnología.  


      </h3>

      

      <button class="btn btn-primary">CONECTAR</button>
      <button class="btn btn-secondary">VER PROYECTOS</button>
    </main>
  </div>