---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
---
<Layout title="Inicio" bgClass="bg-special">
   <Navbar />
   
  <div class="container">
   
    <slot />
    <img src="/nahun_foto.png" alt="Foto" class="hero-foto" />
    <main class="hero">
       
      <h3>
        
        
Llevo más de una década diseñando, emprendiendo y 
acompañando proyectos en contextos complejos: 
desde startups y gobiernos hasta laboratorios de innovación y 
organizaciones internacionales. <br></br>
Mi enfoque combina diseño, tecnología y 
experimentación para crear soluciones que 
no solo funcionan en el mercado, 
sino que también contribuyen a 
ecosistemas más saludables.<br></br>


Ayudo a organizaciones a 
crear escenarios más sostenibles y 
regenerativos con la ayuda 
del diseño y la tecnología. 

Uso la experimentación y sus 
evidencias para transformar 
la tecnología en servicios y productos 
que promuevan buenos hábitos para sus usuarios. <br>
Administro las métricas de la solución de principio a fin.<br></br> 
Capacidad demostrada para administrar Gerentes de Producto y 
equipos de desarrollo Agile y reportar a ejecutivos de nivel C y Junta Directiva.<br></br>

He desarrollado proyectos de innovación en 
temas de cambio climático, economías en desarrollo, 
salud digital y educación. <br></br>Además de provocar varios 
emprendimientos e intra emprendimientos en el mundo corporativo.
<br></br> 
He cofundado la primera agencia con propósito Copiloto en Perú, 
el laboratorio de Diseño Especulativo Detona y 
la primera academia NOCODE en Latinoamérica Kreante Academy, 
entre otros emprendimientos en el mundo del arte sonoro, 
educación y tecnología.


      </h3>

      

 <div class="hero-buttons">
<a href="/contact" class="btn btn-primary">CONECTAR</a>
 <a href="/projects" class="btn btn-secondary">VER PROYECTOS</a>
</div>
 <Footer />
    </main>
  </div>