---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";

---


<Layout title="Inicio" bgClass="bg-special">
  <div class="container">
    <Navbar />
    <main class="hero">
      <h3>
Hola, me encantaría conectar con personas que tengan ideas, proyectos o simplemente ganas de conversar sobre tecnología, diseño e impacto. <br></br>
        Si quieres compartir tus iniciativas o charlar sobre cómo hacerlas realidad, escríbeme por el formulario o directamente a mi correo
nahun.saldana.macedo@gmail.com <br></br>
        ¡Será un gusto saber de ti!


      </h3>

      <style>
  .form-wrapper {
    max-width: 500px;      /* controla el ancho */
    margin: 0 auto;        /* lo centra */
    padding: 1rem;
  }

  form {
    display: grid;
    gap: 1rem;
  }
</style>

<div class="form-wrapper">
<form
  action="https://formspree.io/f/xjknaqpv"
  method="POST"
>
 <input type="hidden" name="https://nahunsaldana.com/" value="https://nahunsaldana.com/" />

  <label style="display: flex; flex-direction: column; gap: 0.5rem;">
    Your email:
    <input type="email" name="email">
  </label>
  <label style="display: flex; flex-direction: column; gap: 0.5rem;">
    Your message:
    <textarea style="display: flex; flex-direction: column; gap: 0.5rem;" name="message"></textarea>
  </label>
  <!-- your other form fields go here -->
  <button class="btn btn-primary" type="submit">Enviar</button>
</form>

      

     
    </main>
  </div>