---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/navbar.astro";
---
<Layout title="Inicio" bgClass="bg-special">
  <div class="container">
    <Navbar />
    <main class="hero">
      <h3>
        
 
He desarrollado desde agencias de comunicación, 
innovación, escuela de tecnología, proyectos de arte y 
todo lo que me despierte curiosidad y 
creo que puede aportar hacer este mundo un poco mejor.  


      </h3>

<section class="proyectos">
  <h2>Empresas, proyectos, experimentos e itereaciones</h2>
  <div class="proyectos-grid">


       <a href="https://www.escuchadores.com/" class="proyecto" target="_blank" rel="noopener noreferrer">
      <img src="/images/proyecto-f.jpg" alt="Proyecto A" />
      <div class="proyecto-texto">
        <h3>Escuchadores</h3>
        <p>El poder el paisaje sonoro para conservar</p>
        <p>Founder / Naturaleza</p>
      </div>
    </a>

       <a href="https://www.weareoverview.com/work/lucidom-ai" class="proyecto" target="_blank" rel="noopener noreferrer">
      <img src="/images/proyecto-c.jpg" alt="Proyecto A" />
      <div class="proyecto-texto">
        <h3>Lucidum</h3>
        <p>La convivencia entre el lobo y los humanos </p>
        <p>Lider de proyecto / Animales</p>
      </div>
    </a>
    
    <a href="https://copiloto.pe" class="proyecto" target="_blank" rel="noopener noreferrer">
      <img src="/images/proyecto-a.jpg" alt="Proyecto A" />
      <div class="proyecto-texto">
        <h3>Copiloto</h3>
        <p> Comunicación para el impacto positivo </p>
        <p> Co fundador / Cultura </p>
      </div>
    </a>
    
    <a href="https://elcomercio.pe/publirreportaje/aliviamed-consultas-medicas-a-una-llamada-de-distancia-noticia/" class="proyecto" target="_blank" rel="noopener noreferrer">
      <img src="/images/proyecto-d.jpg" alt="AliviaMed" />
      <div class="proyecto-texto">
        <h3>AliviaMed</h3>
        <p>La salud como una oportunidad y no como una bendición</p>
        <p>Product Owner / Salud</p>
      </div>
    </a>

    <a href="https://escuela.kreanteacademy.com/" class="proyecto" target="_blank" rel="noopener noreferrer">
      <img src="/images/proyecto-b.jpg" alt="Proyecto B" />
      <div class="proyecto-texto">
        <h3>Kreante Academy</h3>
        <p> Escuela de tecnología para todos</p>
        <p> Co fundador / Educación</p>
      </div>
    </a>

    

   

       <a href="https://detona.cargo.site/" class="proyecto" target="_blank" rel="noopener noreferrer">
      <img src="/images/proyecto-e.jpg" alt="DetonaLab" />
      <div class="proyecto-texto">
        <h3>Detona</h3>
        <p>Imaginando el futuro que queremos</p>
        <p>Cofundador / Innovación</p>
      </div>
    </a>


    <!-- Agrega más proyectos aquí de la misma forma -->
    
  </div>
</section>

      

    
    </main>
  </div>